body {
  font-family:'myFirstFont'!important;
  font-size: 18px;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}
.feed .form-control {

    color: #f0ff00;
}
@font-face {
  font-family:'myFirstFont';
  src: url("../fonts/MrEavesXLModOT-Book.ttf");
/*  font-weight: normal;
font-style: normal;*/
}
.testii ul li
{
  height:120px!important;
}
.testii ul 
{
  list-style: none;
}

.foo
{
 background: #1f1f1f;
 margin: 0;
 text-align: center;
}
p
{
  line-height: 30px;
}

/*Contact sectiom*/
.content-header{
  color: #fcc500;
  font-size: 30px;
}

.section-content{
  text-align: center; 

}
#contact{
  
  
  padding-top: 140px;
  padding-bottom: 120px;
  width: 100%;
  width: 100vw;
  height: auto;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff;    
}
.modal-content .top-header p {
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  padding: 0px;
  letter-spacing: 1px;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
 font-size: 16px;
 line-height: 30px;
 font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*jssor slider arrow skin 093 css*/
.jssora093 {display:block;position:absolute;cursor:pointer;}
.jssora093 .c {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;}
.jssora093:hover {opacity:.8;}
.jssora093.jssora093dn {opacity:.6;}
.jssora093.jssora093ds {opacity:.3;pointer-events:none;}

/*jssor slider thumbnail skin 101 css*/
.jssort101 .p {position: absolute;top:0;left:0;box-sizing:border-box;background:#000;}
.jssort101 .p .cv {position:relative;top:0;left:0;width:100%;height:100%;border:2px solid #000;box-sizing:border-box;z-index:1;}
.jssort101 .a {fill:none;stroke:#fff;stroke-width:400;stroke-miterlimit:10;visibility:hidden;}
.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {border:none;border-color:transparent;}
.jssort101 .p:hover{padding:2px;}
.jssort101 .p:hover .cv {background-color:rgba(0,0,0,6);opacity:.35;}
.jssort101 .p:hover.pdn{padding:0;}
.jssort101 .p:hover.pdn .cv {border:2px solid #fff;background:none;opacity:.35;}
.jssort101 .pav .cv {border-color:#fff;opacity:.35;}
.jssort101 .pav .a, .jssort101 .p:hover .a {visibility:visible;}
.jssort101 .t {position:absolute;top:0;left:0;width:100%;height:100%;border:none;opacity:.6;}
.jssort101 .pav .t, .jssort101 .p:hover .t{opacity:1;}


.mar-t {
  margin-top: 100px;
  margin-bottom: 100px;
}
.clear
{
  clear: both;
}
.price
{
  display: block;
  color: #969696;
}
.p-details .btn-primary .btn-outline
{
  font-size: 20px;
}
.mar-b
{
  padding-top: 0 !important;
  margin-bottom:100px;
}
#fh5co-about
{
  margin-bottom: 100px;
}
p
{
  line-height: 32px;
}

.pro
{
  padding-bottom: 100px;
}
.widget{
  background:#ffffff4f;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); 
  
  margin-bottom: 30px;
  border-radius: 2px;
  border-right: 1px solid #ccc;

}
.padding {
  padding: 15px;
}
.border-line3 {
  background: #fff url(../images/line.png) center center no-repeat;
  height: 22px;
  margin-top: -23px;
  margin-bottom: 30px;
}
.widget-header {
  background: #950000;
  display: block;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  border-right: 1px solid #ccc;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.widget.category-list ul li {
 /* border-bottom: 1px solid #F4F7F9;*/
 color: #666;
 font-weight: 400;
 line-height: 19px;
 font-size: 15px;
}
.widget.category-list ul li a {
  padding: 9px 0px;
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.main1
{
  padding-top: 50px;
}
.head1
{
 text-align: center;
 font-size: 23px;
 letter-spacing: 1px;
 color: #990003;
 margin: 40px;
}
.pad-t
{
  padding-top: 60px;
}
.top-header

{
  background:#001665;
}
.top-header p
{    color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 5px;
  padding: 0px;
  letter-spacing: 1px;
}
.top-header2
{
  padding:10px;
}
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.clearfix
{
  clear: both;
}
a {
  color:#ff2629;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #333;
  /*font-size: 10px;*/
  /*line-height: 11px;*/
  outline: none;
  text-decoration: none;
}



h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #d1c286;
}

::-moz-selection {
  color: #fff;
  background: #d1c286;
}

::selection {
  color: #fff;
  background: #d1c286;
}
.fh5co-nav {
  background: #fff;
  box-shadow: 0px 0px 11px #000;
}
@media screen and (max-width: 992px) {
  .top-header {
    background: #001665;
    display: none;
  }
  .fh5co-nav {
    padding: 0px 0;
  }
}
.fh5co-nav #fh5co-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", Arial, sans-serif;
}
.fh5co-nav a {
  padding: 0;
  color: #000;
}
@media screen and (max-width: 992px) {
  .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
}
.fh5co-nav .menu-2 li.search {
  float: left;
  width: 83%;
  font-family: "Playfair Display", serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: -5px 0 0 0;
}
.single1 .widget-header {
 background: #f5f5f5; 
 display: block;
 font-size: 30px;
 text-align: left;
 color: #007ac1;
 padding: 10px;
 font-weight: 600;
 margin-bottom: 20px;
 border-right: 1px solid #ccc;
 padding-bottom: 10px;
 border-bottom: 1px solid #ccc;
}
.fh5co-nav .menu-2 li input[type=text] {
  padding: 6px 10px;
  width:50%;
  border: none;
  float: right;
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  font-family: sans-serif;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-nav .menu-2 li input[type=text]:focus {
  width: 100%;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.fh5co-nav .menu-2 li button {
  margin-top: 4px;
  padding: 5px;
  background: transparent;
  border: none;
}
.fh5co-nav .menu-2 li button i {
  color: rgba(0, 0, 0, 0.5);
}
.fh5co-nav .menu-2 li button:hover, .fh5co-nav .menu-2 li button:focus {
  background: transparent !important;
}
.fh5co-nav .menu-2 li button:hover i, .fh5co-nav .menu-2 li button:focus i {
  color: black;
}
.fh5co-nav .menu-2 li.shopping-cart {
  float: right;
}
.fh5co-nav .menu-2 li a.cart {
  color: black;
}
.fh5co-nav .menu-2 li a.cart span {
  position: relative;
}
.fh5co-nav .menu-2 li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #d1c286;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-nav ul {
  padding: 0;
  margin-top:15px;
}
.fh5co-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  border-right: 1px solid #ccc;

}
.fh5co-nav ul li a {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0px 3px;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 600;
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: rgb(164, 1, 1);
}
.fh5co-nav ul li a.cart {
  color: black;
}
.fh5co-nav ul li a.cart span {
  position: relative;
}
.fh5co-nav ul li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #d1c286;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 150px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #000;
}
.fh5co-nav ul li.active > a {
  color: #000 !important;
}
.fh5co-nav ul li .form-group {
  border: 1px solid red;
  width: 100%;
}
.menu-bg {
  background-position: center;
  background: #fff;
}
#fh5co-hero {
  /*  min-height: 700px;*/
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-hero .btn {
  font-size: 24px;
}
#fh5co-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-hero .flexslider .slides {
    position: relative;
    overflow: hidden;
    /*top: 120px;*/
}
#fh5co-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px!important;
  background-position: center center;
  min-height: 300px;
}
#fh5co-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#fh5co-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#fh5co-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#fh5co-hero .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  #fh5co-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .desc .price {
  font-size: 14px;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 20px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .btn {
  font-size: 18px;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead {
  font-size: 20px;
  color: #fff;
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner .fh5co-lead .icon-heart {
  color: #d9534f;
}
.m-t
{
  /*margin-top: 120px;*/
}
#fh5co-header,
#fh5co-counter,
.fh5co-bg {
  background-size: cover!important;
  background-repeat: no-repeat!important;
  background: url(../images/q5.jpg);
  height: 300px;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
  position: relative;
}

#fh5co-counter {
  height: 500px;
}
#fh5co-counter .display-t,
#fh5co-counter .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 992px) {
  #fh5co-counter {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-counter .display-t,
  #fh5co-counter .display-tc {
    height: inherit;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-counter {
    height: inherit;
    padding: 7em 0;
  }
  #fh5co-counter .display-t,
  #fh5co-counter .display-tc {
    height: inherit;
  }
}

.fh5co-cover {
  height: 800px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.fh5co-cover > .fh5co-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .fh5co-cover {
    height: 600px;
  }
}
.fh5co-cover .display-t,
.fh5co-cover .display-tc {
  z-index: 9;
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fh5co-cover .display-t,
  .fh5co-cover .display-tc {
    height: 600px;
  }
}
.fh5co-cover.fh5co-cover-sm {
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-cover.fh5co-cover-sm {
    height: 400px;
  }
}
.fh5co-cover.fh5co-cover-sm .display-t,
.fh5co-cover.fh5co-cover-sm .display-tc {
  height:300px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
 .fh5co-cover.fh5co-cover-sm .display-t, .fh5co-cover.fh5co-cover-sm .display-tc {
  height: 300px;
}

.mar-t {
  margin-top: 100px;
  margin-bottom: 200px;
}
}

.about-content {
  margin-bottom: 7em;
}
.about-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
}
.about-content .desc {
  /*  margin-bottom: 3em;*/
  text-align: justify;
}

.fh5co-staff {
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0px 1px 15px #cacaca;
}
.fh5co-staff img {
 width: 100%;
 padding: 5px;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 border-radius: 0;
 border-radius: 0;
 object-fit: contain;
 object-position: center;
 height: 300px;
    /*object-fit: fill;
    height: 300px;
    width: 350px;*/
  }
  .fh5co-staff h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  .fh5co-staff p {
    margin-bottom: 30px;
  }
  .fh5co-staff .role {
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: normal;
    display: block;
  }


  .fh5co-social-icons {
    margin-top: 22px;
    padding: 0;
  }
  .fh5co-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .fh5co-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #d1c286;
    font-size: 10px;
    line-height: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .fh5co-social-icons li a i {
    font-size: 20px;
  }

  .fh5co-contact-info ul {
    padding: 0;
    margin: 0;
  }
  .fh5co-contact-info ul li {
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    list-style: none;
    position: relative;
  }
  .fh5co-contact-info ul li:before {
    color:#c80004;
    position: absolute;
    left: 0;
    top: .05em;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .fh5co-contact-info ul li.address:before {
    font-size: 30px;
    content: "\e9d1";
  }
  .fh5co-contact-info ul li.phone:before {
    font-size: 23px;
    content: "\e9f4";
  }
  .fh5co-contact-info ul li.email:before {
    font-size: 23px;
    content: "\e9da";
  }
  .fh5co-contact-info ul li.url:before {
    font-size: 23px;
    content: "\e9af";
  }

  #fh5co-header .display-tc,
  #fh5co-counter .display-tc,
  .fh5co-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
    background: #0000006b;
  }
  #fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
  #fh5co-counter .display-tc h1,
  #fh5co-counter .display-tc h2,
  .fh5co-cover .display-tc h1,
  .fh5co-cover .display-tc h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
  #fh5co-header .display-tc h1,
  #fh5co-counter .display-tc h1,
  .fh5co-cover .display-tc h1 {
    margin-top: 25%;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
  }
  @media screen and (max-width: 768px) {
    #fh5co-header .display-tc h1,
    #fh5co-counter .display-tc h1,
    .fh5co-cover .display-tc h1 {
      font-size: 40px;
    }
  }
  #fh5co-header .display-tc h2,
  #fh5co-counter .display-tc h2,
  .fh5co-cover .display-tc h2 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
  }
  #fh5co-header .display-tc h2 a,
  #fh5co-counter .display-tc h2 a,
  .fh5co-cover .display-tc h2 a {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }
  #fh5co-header .display-tc .btn,
  #fh5co-counter .display-tc .btn,
  .fh5co-cover .display-tc .btn {
    padding: 15px 30px;
    background: #d1c286 !important;
    color: #fff;
    border: none !important;
    font-size: 18px;
    text-transform: uppercase;
  }
  #fh5co-header .display-tc .btn:hover,
  #fh5co-counter .display-tc .btn:hover,
  .fh5co-cover .display-tc .btn:hover {
    background: #d1c286 !important;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  }
  #fh5co-header .display-tc .form-inline .form-group,
  #fh5co-counter .display-tc .form-inline .form-group,
  .fh5co-cover .display-tc .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px;
  }
  #fh5co-header .display-tc .form-inline .form-group .form-control,
  #fh5co-counter .display-tc .form-inline .form-group .form-control,
  .fh5co-cover .display-tc .form-inline .form-group .form-control {
    width: 100%;
    background: #fff;
    border: none;
  }

  #fh5co-counter {
    text-align: center;
  }
  #fh5co-counter .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 100;
    display: block;
  }
  #fh5co-counter .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-family: "Montserrat", Arial, sans-serif;
  }
  #fh5co-counter .feature-center {
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.8);
  }
  @media screen and (max-width: 768px) {
    #fh5co-counter .feature-center {
      margin-bottom: 50px;
    }
  }
  #fh5co-counter .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: #d1c286;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
  }
  #fh5co-counter .icon i {
    height: 70px;
    color: #fff;
  }
  #fh5co-counter .icon i:before {
    display: block;
    text-align: center;
    margin-left: 3px;
  }

  .fh5co-bg-section {
    background:rgb(255, 255, 255);
    padding-bottom: 100px;
  }

  #fh5co-services,
  #fh5co-started,
  #fh5co-testimonial,
  #fh5co-started,
  #fh5co-product,
  #fh5co-about,
  #fh5co-contact,
  #fh5co-footer {

    clear: both;
  }
  @media screen and (max-width: 768px) {
    #fh5co-services,
    #fh5co-started,
    #fh5co-testimonial,
    #fh5co-started,
    #fh5co-product,
    #fh5co-about,
    #fh5co-contact,
    #fh5co-footer {
      padding:0;
    }
    .top-header p {
      color: #fff;
      text-align: center;
      font-size: 10px;
      line-height: 15px;
      padding: 0px;
      letter-spacing: 1px;
    }
  }

  .feature-center {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 768px) {
    .feature-center {
      margin-bottom: 50px;
    }
  }
  .feature-center .desc {
    padding-left: 180px;
  }
  .feature-center .icon {
    width: 90px;
    height: 90px;
    background: #d1c286;
    display: table;
    text-align: center;
    margin: 0 auto 30px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .feature-center .icon i {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    font-size: 40px;
    line-height: 40px;
    color: #fff;
  }
  .feature-center p, .feature-center h3 {
    margin-bottom: 30px;
  }
  .feature-center h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .product {
   margin-bottom: 40px;
   height: 300px;
   box-shadow: 0px 0px 11px #ccc;
 }
 .product .product-grid {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  height: 200px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product .product-grid .sale {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  z-index: 100;
  background: #d1c286;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.product .product-grid .inner {
  display: table;
  height: 200px;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .product .product-grid .inner {
    opacity: 1;
    background: transparent;
  }
}
.product .product-grid .inner p {
  display: table-cell;
  vertical-align: middle;
}
.product .product-grid .inner p .icon {
  padding: 7px 10px;
  color: #fff;
  background: #d1c286;
}
.product .product-grid .inner p .icon:hover, .product .product-grid .inner p .icon:focus {
  color: #d1c286;
  font-size: 10px;
  line-height: 11px;
  background: #fff;
}
.product .desc h3 {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 24px;
}
.product .desc h3 a {
  color: #000;
}
.product .desc .price {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.product:hover .product-grid, .product:focus .product-grid {
  -webkit-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 10px 24px -7px rgba(0, 0, 0, 0.35);
}
.product:hover .inner, .product:focus .inner {
  opacity: 1;
}
.product:hover .desc h3 a, .product:focus .desc h3 a {
  color: #d1c286;
  font-size: 10px;
  line-height: 11px;
}

.product-carousel {
  margin-bottom: 7em;
}

.fh5co-tabs .fh5co-tab-nav {
  clear: both;
  margin: 0;
  /* padding: 3px; */
  float: left;
  width: 100%;
  background: #949494;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 0;
}
.fh5co-tabs .fh5co-tab-nav li {
  float: left;
  margin: 0;
  padding: 0;
  width: 33.33%;
  text-align: center;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-tabs .fh5co-tab-nav li .icon {
  font-size: 30px;
}
.fh5co-tabs .fh5co-tab-nav li a {
  padding: 20px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 0;
  color: #ffffff;
  border-right: 1px solid;
}
.fh5co-tabs .fh5co-tab-nav li a:hover {
  color: #4d4d4d;
}
.fh5co-tabs .fh5co-tab-nav li.active a {
  background: #ffffff;
  color: #940003;
  font-weight: 600;
}
.fh5co-tabs .fh5co-tab-content-wrap {
  clear: both;
  position: relative;
  top: 70px;
}
.fh5co-tabs .fh5co-tab-content-wrap .tab-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.fh5co-tabs .fh5co-tab-content-wrap .tab-content.active {
  opacity: 1;
  visibility: visible;
}
.fh5co-tabs .fh5co-tab-content-wrap .tab-content .price {
  letter-spacing: 2px;
  border: 2px solid #d1c286;
  display: inline-block;
  margin-bottom: 20px;
  padding: 7px 20px 10px 20px;
}
.fh5co-tabs .fh5co-tab-content-wrap ul {
  padding: 0;
  margin: 0;
  margin-bottom: 3em;
}
.fh5co-tabs .fh5co-tab-content-wrap ul li {
  list-style: none;
  margin-bottom: 20px;
  position: relative;
  padding-left: 30px;
}
.fh5co-tabs .fh5co-tab-content-wrap ul li:before {
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 0;
  content: '\e116';
}
.fh5co-tabs .fh5co-tab-content-wrap .feed {
  width: 100%;
  float: left;
  margin-bottom: 7em;
}
.fh5co-tabs .fh5co-tab-content-wrap .feed > div {
  width: 100%;
  float: left;
  margin-bottom: 1em;
}
.fh5co-tabs .fh5co-tab-content-wrap .feed > div blockquote {
  border-left: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.04);
}
.fh5co-tabs .fh5co-tab-content-wrap .feed > div h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  display: inline-block;
  padding-right: 20px;
}
.fh5co-tabs .fh5co-tab-content-wrap .feed > div .rate {
  color: #ffba00;
}
.fh5co-tabs .icon-xlg {
  font-size: 400px;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .fh5co-tabs .icon-xlg {
    font-size: 300px;
  }
}
@media screen and (max-width: 480px) {
  label {
    font-size: 16px;
    line-height: 13px;
    font-weight: normal;
  }
  #contact {
    padding-top: 80px;

    padding-bottom: 200px;
  }
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 1px solid rgb(152, 152, 152);
    height: 40px;
    font-size:20px;
    font-weight: 300;
  }
  .content-header {
    color: #fcc500;
    font-size: 22px;
  }
  .form-group {
    margin-top: 0;
  }
  .fh5co-tabs .icon-xlg {
    font-size: 200px;
  }
}
.fh5co-tabs .icon-xlg i {
  color: #d1c286;
  font-size: 10px;
  line-height: 11px;
}

.fh5co-heading {
  margin-bottom: 30px;
}
.fh5co-heading.fh5co-heading-sm {
  margin-bottom: 2em;
}
.fh5co-heading h2 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}
.fh5co-heading p {
  font-size: 25px;
  line-height: 1.5;
  color: #980000;
}
.widget.category-list ul li a:hover
{
 color: #980000;
 font-weight: 600;
 /*padding-left:10px;*/
}
.fh5co-heading span {
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", Arial, sans-serif;
}

#fh5co-testimonial {
  //background:url(../images/q7.jpg);
  padding-bottom: 100px;

}
#fh5co-testimonial .testimony-slide {
  text-align: center;
}
#fh5co-testimonial .testimony-slide span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  display: block;
}
#fh5co-testimonial .testimony-slide figure {
  margin-bottom: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#fh5co-testimonial .testimony-slide figure img {
  width: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 50%;
  position: relative;
  padding: 0;
}
@media screen and (max-width: 992px) {
  #fh5co-testimonial .testimony-slide blockquote {
    width: 100%;
  }
}
#fh5co-testimonial .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#fh5co-testimonial .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#fh5co-testimonial .arrow-thumb a:hover, #fh5co-testimonial .arrow-thumb a:focus, #fh5co-testimonial .arrow-thumb a:active {
  text-decoration: none;
}

#fh5co-started {
  background: #d1c286;
  padding-bottom: 100px;
}
#fh5co-started .fh5co-heading h2 {
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.6);
}
#fh5co-started .form-control {
  background: rgba(255, 255, 255, 0.2);
  border: none !important;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-started .form-control::-webkit-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#fh5co-started .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#fh5co-started .form-control:-ms-input-placeholder {
  color: #fff;
}
#fh5co-started .form-control:focus {
  background: rgba(255, 255, 255, 0.3);
}
#fh5co-started .btn {
  height: 54px;
  border: none !important;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#fh5co-started .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-started .form-inline .form-group .form-control {
  width: 100%;
}

#fh5co-footer {
  /* position: fixed; */
  background: #000000;
  /* bottom: 0; */
  width: 100%;
  /* z-index: 9; */
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: #000;
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

#map {
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #map {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  #fh5co-footer .copyright .block {
    display: block;
    font-size: 10px;
  }
  .padding {
    padding-left: 20px;
    padding-top: 0;
  }
  #fh5co-hero {
    display: none;
    /* min-height: 700px; */
    background: #fff url(../images/loader.gif) no-repeat center center;
  }
  .menu-bg {
    background-position: center;
    background: none;
  }
  #fh5co-testimonial {
    background: url(../images/q7.jpg);
    display: none;
  }
  #map {
    height: 200px;
  }
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 992px) {

  #fh5co-offcanvas {
    display: block;
  }

}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas ul li.search {
  float: left;
  width: 100%;
  font-family: "Playfair Display", serif;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 5px 0 0 0;
}
#fh5co-offcanvas ul li input[type=text] {
  padding: 6px 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  float: right;
  font-size: 13px;
  margin-top: 4px;
  background: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-offcanvas ul li input[type=text]:focus {
  width: 100%;
  outline: none;
}
#fh5co-offcanvas ul li button {
  margin-top: 4px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 1px;
}
#fh5co-offcanvas ul li button i {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li button:hover, #fh5co-offcanvas ul li button:focus {
  background: transparent !important;
}
#fh5co-offcanvas ul li button:hover i, #fh5co-offcanvas ul li button:focus i {
  color: white;
}
#fh5co-offcanvas ul li.shopping-cart {
  float: left;
}
#fh5co-offcanvas ul li a.cart {
  display: block;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-offcanvas ul li a.cart span {
  position: relative;
}
#fh5co-offcanvas ul li a.cart span small {
  position: absolute;
  top: -20px;
  right: -15px;
  padding: 10px 6px;
  line-height: 0;
  font-size: 11px;
  background: #d1c286;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  /*height: 2px;*/
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #000;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #000;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  background: #fff;
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  background: #fff;
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  right: -10px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
.top-header2 .row{
  display: flex;
  align-items: center;
}
#fh5co-logo img
{
  width: 100%;
  height: auto;
}
@media screen and (max-width: 992px) {
 #fh5co-logo 
 {
  width:50%!important;
}
#fh5co-logo img
{
  width: 200px !important;
  height: auto;
}
.fh5co-nav-toggle {
  display: block;
  position: fixed;
}
}



.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #a23234;
  color: #fff;
  border: 2px solid #a23335;
  border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #d8cb98 !important;
  border-color: #d8cb98 !important;
}
.btn-primary.btn-outline {
 background: transparent;
 color: #b10004;
 font-size: 15px;
 letter-spacing: 1px;
 padding: 10px!important;
 border: 1px solid #d2d2d2;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #b10004 !important;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  /* border: 0; */
  height: 35px;
  font-size: 18px;
  font-weight: 300;
  border-radius: 0;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-    color: #d1c286;
  font-size: 10px;
  line-height: 11px;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
 
  opacity: 0;
  
}

@media (min-width: 318px) and (max-width: 480px) 
{
.mar-bb
{
  margin-bottom:10px;
}
}



/*@media (min-width: 1000px) and (max-width: 1200px) 
{
  .fh5co-nav ul {
    padding: 0;
    margin-top: 15px;
    margin-left: 10px;
  }
  .fh5co-nav ul li a {
    font-size: 12px;
    padding: 0px 2px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 600;
  }
  .fh5co-nav .menu-2 li input[type=text] {
    padding: 6px 10px;
    width: 100%;
    border: none;
    float: right;
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    font-family: sans-serif;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .top-header p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 5px;
    padding: 0px;
    letter-spacing: 1px;
  }
  .menu-bg .widget.category-list ul li a {
    padding: 9px 16px;
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
  .menu-bg .widget {
    background: #ffffff4f;
    box-shadow: none;
    margin-bottom: 30px;
    border-radius: 2px;
    border-right: 1px solid #ccc;
  }
  .menu-bg
  {
    background:none;
  }
  .menu-bg {
    background-position: center;
    background-size: cover;
  }
  .menu-bg .widget.category-list ul li {
    /* border-bottom: 1px solid #F4F7F9; */
    color: #666;
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
    float: left;
    margin-right: 15px;
  }
  small, .small {
    font-size: 78%;
    COLOR: #FFF;
    letter-spacing: 1px;
  }
}*/
 .no-padding{
  padding: 0;
 }

 .address-bar{
  color: #d1c286;
  font-size: 18px;
  font-weight: bold;
  line-height: 16px;
  border-bottom: 1px dotted;
  padding: 9px 0px;
 }
 .fh5co-social-icons {
    margin-top: 22px !important;
  }
}

.btn-lg-span{
  font-size: 30px !important;
}

.main-content{
  padding-top:120px;
}